.footer-top{
    width:1190px;
    margin:0 auto;
    padding: 40px 45px;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    box-sizing: border-box;
    .footer-col{
        width: 20%;
        padding-bottom: 20px;
        color: #666;
        font-size: 12px;
        float: left;
        dl{
            padding-bottom: 20px;
        
            dt{
                color: #333;
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 10px;
            }
            dd{
                line-height: 2;
                a:hover{
                    color:#FE8C00
                }
            }
          
        }

    }
   
}